<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="username" value="salesforcecodex@gmail.com" />
    <add key="password" value="Jun@2020" />
    <add key="token" value="M1clPuwKREtxnFTepWua1B0Hn" />
    <add key="clientId" value="3MVG9G9pzCUSkzZsY1Uj6.gNxYflDtkqRBck0nEqTyqAFdXn9VhxN4MIdJaP4UNofse_1mCqsl_18Bgvkc0Kr" />
    <add key="clientSecret" value="CF53C20922C681A618D6F6F0FF3A830486641FDC7347C28967035637389E1282" />
  </appSettings>
</configuration>